<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Tony's Travel App</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background-color: #f0f4c3">
    <form th:action="@{/search}" th:object="${trip}" method="post">
        <!-- Origin -->
        <div style="display: inline-block">
            Origin: 
            <select name="origin">
                <option th:each="origin : ${originList}" th:text="${origin}"/>
            </select>
        </div>
        <!-- Destination -->
        <div style="display: inline-block">
            Destination: 
            <select name="destination">
                <option th:each="destination : ${destinationList}" th:text="${destination}"/>
            </select>
        </div>
        <!-- Submit -->
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
</body>
</html>